force-app/main/default/flows/Test_Flow_CCP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>test</name>
        <label>test</label>
        <locationX>914</locationX>
        <locationY>419</locationY>
        <actionName>testFlowDebug</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ScreenComp3</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>Ids</name>
            <value>
                <elementReference>Id_loop_into_single</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <choices>
        <name>Queue</name>
        <choiceText>Queue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Queue</stringValue>
        </value>
    </choices>
    <choices>
        <name>Test1</name>
        <choiceText>Test1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Test1</stringValue>
        </value>
    </choices>
    <choices>
        <name>Test2</name>
        <choiceText>Test2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Test2</stringValue>
        </value>
    </choices>
    <choices>
        <name>User</name>
        <choiceText>User</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>User</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>CarePlanSubtype</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AccountSource</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CarePlanTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Active__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Test_Flow_CCP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test_Flow_CCP</label>
    <loops>
        <name>Id_loop_into_single</name>
        <label>Id loop into single</label>
        <locationX>772</locationX>
        <locationY>187</locationY>
        <collectionReference>ids</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>test</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ScreenComp2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>ListViewButtonScreen1</name>
        <label>ListViewButtonScreen1</label>
        <locationX>1146</locationX>
        <locationY>382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <fields>
            <name>Header</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Create Care Plan&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Creating Care Plan(s) from {!Assign_to} ADTs&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ListViewButtonScreen1_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ListViewButtonScreen1_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Assign_to</name>
                    <choiceReferences>User</choiceReferences>
                    <choiceReferences>Queue</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Assign to</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Care_Plan_Type</name>
                    <choiceReferences>CarePlanTypePicklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Care Plan Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Subject</name>
                    <fieldText>Subject</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ListViewButtonScreen1_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Select_User_or_Queue</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>CreatedById</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select User/Queue</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>User</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Care_Plan_Subtype</name>
                    <choiceReferences>CarePlanSubtype</choiceReferences>
                    <choiceReferences>Test1</choiceReferences>
                    <choiceReferences>Test2</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Select One</stringValue>
                    </defaultValue>
                    <fieldText>Care Plan Subtype</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Create</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenComp2</name>
        <label>ScreenComp2</label>
        <locationX>653</locationX>
        <locationY>425</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>textDisplay</name>
            <fieldText>&lt;p&gt;This is coming from Screen Comp&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Each id --&amp;gt; {!Id_loop_into_single}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Add ids --&amp;gt; {!ids}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenComp3</name>
        <label>ScreenComp3</label>
        <locationX>944</locationX>
        <locationY>603</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ScrrenComp3</name>
            <fieldText>&lt;p&gt;This is coming for screen component 3&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!ids}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Id_loop_into_single</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
